<template>
  <div class="container">
    <div class="current-tasks">
      <h3>СДЕЛАТЬ</h3>
      <p v-if="currentTasks.length === 0">Нет задач</p>
      <app-task
        v-for="(task, inx) in currentTasks"
        :key="inx"
        :title="task"
        :index="inx"
        :svg="true"
      />
    </div>

    <div class="completed-tasks">
      <h3>ЗАВЕРШЕНО</h3>
      <app-task
        v-for="(task, inx) in completedTasks"
        :key="inx"
        :svg="false"
        :title="task"
      />
      <app-input />
    </div>
  </div>
</template>

<script>

import AppTask from "../components/AppTask.vue";
import AppInput from "../components/AppInput.vue";
export default {
  components: { AppInput, AppTask },
  name: "Work",
  data() {
    return {};
  },
  methods: {},
  computed: {
    route() {
      return this.$route.params.tasks;
    },
    currentTasks(){
      return this.$store.getters.currentTasks
    },
     completedTasks(){
      return this.$store.getters.completedTasks
    }
  },
   created() {
    this.$store.dispatch('getTasks',this.route)
  },
};
</script>

<style lang="scss" scoped>
.container {
  h3 {
    text-align: center;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;
    color: #6c6c6c;
  }
}
</style>