<template>
  <div class="input-wrapper">
    <input
      type="text"
      v-model="text"
      @keydown.enter="addTask"
      placeholder="Введите текст задачи"
    />
    <button @click="addTask">ДОБАВИТЬ</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: "",
    };
  },
  computed: {
    route() {
      return this.$route.params.tasks;
    },
  },
  methods: {
    async addTask() {
      if (this.text !== "") {
        await this.$store.dispatch("createTask", {
          route: this.route,
          text: this.text,
        });
        this.text = "";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.input-wrapper {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 2px 2px 2px 12px;
  margin-top: 20px;
  border: 3px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 7px;

  input {
    flex: 1;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #6c6c6c;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #e4e4e4;
    }
  }
  button {
    display: block;
    border: none;
    padding: 0px 19px;
    outline: none;
    height: 100%;
    background: #eef4f3;
    border-radius: 0px 3px 3px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #6c6c6c;
    cursor: pointer;
  }
}
</style>