<template>
  <div class="container">
    <ul class="list-group">
      <li
        @click="onGetTasks"
        v-for="list in listItems"
        :key="list.id"
        class="list-item"
      >
        <router-link :to="{ name: 'Tasks', params: { tasks: list.value } }">
          {{ list.value }}
        </router-link>
      </li>
    </ul>
    <div class="list-input">
      <label for="createListInput">Создать группу</label>
      <input
        type="text"
        v-model="text"
        id="createListInput"
        @keydown.enter="onCreateListItem"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "TheAside",
  data() {
    return {
      text: "",
    };
  },
  computed: {
    listItems() {
      return this.$store.getters.listItems;
    },
  },
  methods: {
    onGetTasks() {
      this.$store.dispatch("getTasks", this.$route.params.tasks);
    },
    async onCreateListItem() {
      await this.$store.dispatch("createListItems", this.text);
      this.text = "";
    },
  },

  created() {
    this.$store.dispatch("getAll");
  },
};
</script>

<style lang="scss" scoped>
.container {
  padding: 20px;
  background-color: #f9f9f9;
}
.list-group {
  margin-top: 104px;

  .list-item {
    width: 100%;

    a {
      display: block;
      width: 100%;
      text-decoration: none;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      border-radius: 7px;
      margin-top: 5px;
      padding: 5px;
      color: #6c6c6c;
      cursor: pointer;

      &.active {
        background-color: #eef4f3;
      }
    }
  }
}
.list-input {
  input {
    width: 100%;
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #6c6c6c;
  }
}
</style>