<template>
  <div class="main">
    <router-view />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.main {
  background-color: #fff;
  padding: 50px;

}
</style>