@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #ccc;
}
*,
::after,
::before {
  box-sizing: border-box;
}
ol,
ul {
  padding: 0;
  list-style: none;
}