<template>
  <div id="app">
   <the-aside />
   <the-main />
</div>
</template>

<script>
import TheAside from './components/TheAside.vue'
import TheMain from './components/TheMain.vue'

export default {
  components:{TheAside,TheMain},
  name: 'App',


}
</script>

<style lang="scss" scoped>
#app{
  min-height: 100%;
  display: grid;
  grid-template-columns: 212px 1fr;
  column-gap: 5px;
}
</style>
